{% extends 'copadomundo/index.html' %}
{% load static %}

{% block content %}
lista resultado:{{lista_resultado}}<br>
lista pontuacao:{{lista_pontuacao}}<br>
lista palpites:{{lista_palpites}}<br>
pontuacao: {{pontuacao}}
{{palpite}}
<div class="card card-body">
    <table  border="1" class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Rod</th>
            <th>J</th>
            <th>Pts</th>
            <th>RE</th>
            <th>RB</th>
            <th>RP</th>
            <th>GV</th>
            <th>GP</th>
            <th>ER</th>
        </tr>
        {% for x in palpite %}
            <tr align="center">
                <td align="left">{{x.user}}</td>
                <td>{{x.Rodada}}</td>
                <td>{{x.Jogo}}</td>
                <td>{{x.PONTOS}}</td>
                <td>{{x.RE}}</td>
                <td>{{x.RB}}</td>
                <td>{{x.RP}}</td>
                <td>{{x.GV}}</td>
                <td>{{x.GP}}</td>
                <td>{{x.ER}}</td>
            </tr>
        {% endfor %}
    </table>
    <table  border="1" class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Rod</th>
            <th>J</th>
            <th>Pts</th>
            <th>RE</th>
            <th>RB</th>
            <th>RP</th>
            <th>GV</th>
            <th>GP</th>
            <th>ER</th>
        </tr>
        {% for x in pontuacao %}
            <tr align="center">
                <td align="left">{{x.user}}</td>
                <td>{{x.Rodada}}</td>
                <td>{{x.Jogo}}</td>
                <td>{{x.PONTOS}}</td>
                <td>{{x.RE}}</td>
                <td>{{x.RB}}</td>
                <td>{{x.RP}}</td>
                <td>{{x.GV}}</td>
                <td>{{x.GP}}</td>
                <td>{{x.ER}}</td>
            </tr>
        {% endfor %}
    </table>
        <table  border="1" class="table table-sm">
        <tr>
            <th>Nome</th>
            <th>Rod</th>
            <th>Jogo</th>
            <th>Pts</th>
            <th>RE</th>
            <th>RB</th>
            <th>RP</th>
            <th>GV</th>
            <th>GP</th>
            <th>ER</th>
        </tr>
        {% for x in classificacao %}
            <tr align="center">
                <td align="left">{{x.user}}</td>
                <td>{{x.Rodada}}</td>
                <td>{{x.Jogo}}</td>
                <td>{{x.PONTOS}}</td>
                <td>{{x.RE}}</td>
                <td>{{x.RB}}</td>
                <td>{{x.RP}}</td>
                <td>{{x.GV}}</td>
                <td>{{x.GP}}</td>
                <td>{{x.ER}}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="button" href="/copadomundo/calculadoraclassificacao/">classificacao</a>
</div>
{% endblock %}