{% extends 'copadomundo/index.html' %}
{% load static %}

{% block content %}
<div align="center"><button onclick="showPrev()"> <</button>
<button onclick="showNext()"> > </button></div>
{% for x in jogos %}
<div class="grid" style="font-size: 20px;">
    <b>{{x.GrupoJ1}}    </b><d style="font-size: 15px;">({{x.LocalJ1}})</d><br>
    <d style="font-size: 18px;">{{x.Jogo1}}</d><br>
    <br>
    {{x.Time1J1}}
    <img src="{% static 'img/Catar.svg' %}" width="20" name="CAT">
    {{form.Catar}}
    x
    {{form.Internacional}}
    <img src="{% static 'img/Equador.svg' %}" width="20" name="EQU">
    {{x.Time2J1}}<br>
    <button data-icon="audio" data-inline="true" ng-hide="showMyPrediction" ng-click="newUserPrediction(match); showMyPrediction=!showMyPrediction" class="ui-btn ui-icon-audio ui-btn-icon-left ui-btn-inline ui-shadow ui-corner-all">Palpitar</button>
</div>
<div class="grid" style="font-size: 20px;">
    <b>{{x.GrupoJ2}}    </b><d style="font-size: 15px;">({{x.LocalJ2}})</d><br>
    <d style="font-size: 18px;">{{x.Jogo2}}</d><br>
    <br>
    {{x.Time1J2}}
    <img src="{% static 'img/Inglaterra.svg' %}" width="20" name="ING">
    {{form.Catar}}
    x
    {{form.Internacional}}
    <img src="{% static 'img/Irã.svg' %}" width="20" name="IRA">
    {{x.Time2J2}}<br>
    <button data-icon="audio" data-inline="true" ng-hide="showMyPrediction" ng-click="newUserPrediction(match); showMyPrediction=!showMyPrediction" class="ui-btn ui-icon-audio ui-btn-icon-left ui-btn-inline ui-shadow ui-corner-all">Palpitar</button>
</div>

<div class="grid" style="font-size: 20px;">
    <b>{{x.GrupoJ3}}    </b><d style="font-size: 15px;">({{x.LocalJ3}})</d><br>
    <d style="font-size: 18px;">{{x.Jogo3}}</d><br>
    <br>
    {{x.Time1J3}}
    <img src="{% static 'img/Senegal.svg' %}" width="20" name="SEN">
    {{form.Catar}}
    x
    {{form.Internacional}}
    <img src="{% static 'img/Holanda.svg' %}" width="20" name="HOL">
    {{x.Time2J3}}<br>
    <button data-icon="audio" data-inline="true" ng-hide="showMyPrediction" ng-click="newUserPrediction(match); showMyPrediction=!showMyPrediction" class="ui-btn ui-icon-audio ui-btn-icon-left ui-btn-inline ui-shadow ui-corner-all">Palpitar</button>
</div>

<div class="grid" >
        <b>{{x.GrupoJ2}}</b><br>
        {{x.Jogo2}}<br>
    CAT
    <img src="{% static 'img/Catar.svg' %}" width="20" name="CAT">
    {{form.Catar}}
    x
    {{form.Internacional}}
    <img src="{% static 'img/Equador.svg' %}" width="20" name="EQU">
    EQU
</div>
<div class="grid">Three</div>
<div class="grid">Four</div>
<div class="grid">Five</div>
{% endfor %}
<!--
<div class="grid">
{% for x in jogos %}
{{x.Jogo1}}
{% endfor %}
{{palpites}}
</div>
<div class="grid">
    <img src="{% static 'img/Catar.svg' %}" width="20" name="CAT">
{% for x in jogos %}
{{x.Jogo1}}
{% endfor %}
    <img src="{% static 'img/Equador.svg' %}" width="20" name="EQU"><br>
{{palpites}}
</div>-->




{% endblock %}