{% extends 'copadomundo/index.html' %}
{% load static %}

{% block content %}
<div class="grid">
    {% for x in jogo %}
    <b>{{x.Grupo}}</b><br>
    <d style="font-size: 15px;">({{x.Local}})</d><br>
    <d style="font-size: 18px;">{{x.Horario}}</d><br>
    <br>
    {{x.Time1}}
    {% if 'CAT' == x.Time1 %}
    <img src="{% static 'img/CAT.svg' %}" width="20" name="CAT">
    {% elif 'EQU' == x.Time1%}
    <img src="{% static 'img/EQU.svg' %}" width="20" name="CAT">
    {% elif 'ING' == x.Time1%}
    <img src="{% static 'img/ING.svg' %}" width="20" name="CAT">
    {% elif 'IRA' == x.Time1%}
    <img src="{% static 'img/IRA.svg' %}" width="20" name="CAT">
    {% elif 'SEN' == x.Time1%}
    <img src="{% static 'img/SEN.svg' %}" width="20" name="CAT">
    {% elif 'HOL' == x.Time1%}
    <img src="{% static 'img/HOL.svg' %}" width="20" name="CAT">
    {% elif 'EUA' == x.Time1%}
    <img src="{% static 'img/EUA.svg' %}" width="20" name="CAT">
    {% elif 'GAL' == x.Time1%}
    <img src="{% static 'img/GAL.svg' %}" width="20" name="CAT">
    {% elif 'ARG' == x.Time1%}
    <img src="{% static 'img/ARG.svg' %}" width="20" name="CAT">
    {% elif 'ARA' == x.Time1%}
    <img src="{% static 'img/ARA.svg' %}" width="20" name="CAT">
    {% elif 'MEX' == x.Time1%}
    <img src="{% static 'img/MEX.svg' %}" width="20" name="CAT">
    {% elif 'POL' == x.Time1%}
    <img src="{% static 'img/POL.svg' %}" width="20" name="CAT">
    {% elif 'DIN' == x.Time1%}
    <img src="{% static 'img/DIN.svg' %}" width="20" name="CAT">
    {% elif 'TUN' == x.Time1%}
    <img src="{% static 'img/TUN.svg' %}" width="20" name="CAT">
    {% elif 'FRA' == x.Time1%}
    <img src="{% static 'img/FRA.svg' %}" width="20" name="CAT">
    {% elif 'ALE' == x.Time1%}
    <img src="{% static 'img/ALE.svg' %}" width="20" name="CAT">
    {% elif 'JAP' == x.Time1%}
    <img src="{% static 'img/JAP.svg' %}" width="20" name="CAT">
    {% elif 'ESP' == x.Time1%}
    <img src="{% static 'img/ESP.svg' %}" width="20" name="CAT">
    {% elif 'CRC' == x.Time1%}
    <img src="{% static 'img/CRC.svg' %}" width="20" name="CAT">
    {% elif 'MAR' == x.Time1%}
    <img src="{% static 'img/MAR.svg' %}" width="20" name="CAT">
    {% elif 'CRO' == x.Time1%}
    <img src="{% static 'img/CRO.svg' %}" width="20" name="CAT">
    {% elif 'BEL' == x.Time1%}
    <img src="{% static 'img/BEL.svg' %}" width="20" name="CAT">
    {% elif 'CAN' == x.Time1%}
    <img src="{% static 'img/CAN.svg' %}" width="20" name="CAT">
    {% elif 'SUI' == x.Time1%}
    <img src="{% static 'img/SUI.svg' %}" width="20" name="CAT">
    {% elif 'CAM' == x.Time1%}
    <img src="{% static 'img/CAM.svg' %}" width="20" name="CAT">
    {% elif 'BRA' == x.Time1%}
    <img src="{% static 'img/BRA.svg' %}" width="20" name="CAT">
    {% elif 'SER' == x.Time1%}
    <img src="{% static 'img/SER.svg' %}" width="20" name="CAT">
    {% endif%}

    {{form.Catar}}
    x
    {{form.Internacional}}
    {% if 'CAT' == x.Time2 %}
    <img src="{% static 'img/CAT.svg' %}" width="20" name="CAT">
    {% elif 'EQU' == x.Time2%}
    <img src="{% static 'img/EQU.svg' %}" width="20" name="CAT">
    {% elif 'ING' == x.Time2%}
    <img src="{% static 'img/ING.svg' %}" width="20" name="CAT">
    {% elif 'IRA' == x.Time2%}
    <img src="{% static 'img/IRA.svg' %}" width="20" name="CAT">
    {% elif 'SEN' == x.Time2%}
    <img src="{% static 'img/SEN.svg' %}" width="20" name="CAT">
    {% elif 'HOL' == x.Time2%}
    <img src="{% static 'img/HOL.svg' %}" width="20" name="CAT">
    {% elif 'EUA' == x.Time2%}
    <img src="{% static 'img/EUA.svg' %}" width="20" name="CAT">
    {% elif 'GAL' == x.Time2%}
    <img src="{% static 'img/GAL.svg' %}" width="20" name="CAT">
    {% elif 'ARG' == x.Time2%}
    <img src="{% static 'img/ARG.svg' %}" width="20" name="CAT">
    {% elif 'ARA' == x.Time2%}
    <img src="{% static 'img/ARA.svg' %}" width="20" name="CAT">
    {% elif 'MEX' == x.Time2%}
    <img src="{% static 'img/MEX.svg' %}" width="20" name="CAT">
    {% elif 'POL' == x.Time2%}
    <img src="{% static 'img/POL.svg' %}" width="20" name="CAT">
    {% elif 'DIN' == x.Time2%}
    <img src="{% static 'img/DIN.svg' %}" width="20" name="CAT">
    {% elif 'TUN' == x.Time2%}
    <img src="{% static 'img/TUN.svg' %}" width="20" name="CAT">
    {% elif 'FRA' == x.Time2%}
    <img src="{% static 'img/FRA.svg' %}" width="20" name="CAT">
    {% elif 'ALE' == x.Time2%}
    <img src="{% static 'img/ALE.svg' %}" width="20" name="CAT">
    {% elif 'JAP' == x.Time2%}
    <img src="{% static 'img/JAP.svg' %}" width="20" name="CAT">
    {% elif 'ESP' == x.Time2%}
    <img src="{% static 'img/ESP.svg' %}" width="20" name="CAT">
    {% elif 'CRC' == x.Time2%}
    <img src="{% static 'img/CRC.svg' %}" width="20" name="CAT">
    {% elif 'MAR' == x.Time2%}
    <img src="{% static 'img/MAR.svg' %}" width="20" name="CAT">
    {% elif 'CRO' == x.Time2%}
    <img src="{% static 'img/CRO.svg' %}" width="20" name="CAT">
    {% elif 'BEL' == x.Time2%}
    <img src="{% static 'img/BEL.svg' %}" width="20" name="CAT">
    {% elif 'CAN' == x.Time2%}
    <img src="{% static 'img/CAN.svg' %}" width="20" name="CAT">
    {% elif 'SUI' == x.Time2%}
    <img src="{% static 'img/SUI.svg' %}" width="20" name="CAT">
    {% elif 'CAM' == x.Time2%}
    <img src="{% static 'img/CAM.svg' %}" width="20" name="CAT">
    {% elif 'BRA' == x.Time2%}
    <img src="{% static 'img/BRA.svg' %}" width="20" name="CAT">
    {% elif 'SER' == x.Time2%}
    <img src="{% static 'img/SER.svg' %}" width="20" name="CAT">
    {% endif%}
    {{x.Time2}}<br>

    {% endfor %}
    <form name="form" id="form" action="" method="POST">
                {% csrf_token %}
        <!-- <input data-role="none" type="number" name="home" min="0" max="15" style="width: 40px;" /> x <input data-role="none" type="number" name="away" min="0" max="15" style="width: 40px;" /><br> -->
                {{form.time1}}
                {{form.time2}}<br>
                <input type="hidden" name="Rodada" value="{{Rodada}}">
                <input type="hidden" name="Jogo" value="{{Jogo}}">
                <input style="margin-top:10px" type="submit" class="btn btn-success" value="Salvar">
            </form>
</div>
{% endblock %}