{% extends 'app/index.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}
<p>{{request.user}}</p>
<hr>
<div class="card">
        <div class="card" style="text-align:center; margin-top: 20px">Seus Resultados:</div>
        {% if classificacao %}
        <div class="d-flex justify-content-between">
        <div class="card-body" style="text-align:right">Pontuação: {{classificacao.PONTOS}}</div>
        <div class="card-body">RE: {{classificacao.RE}}, RB: {{classificacao.RB}}, RP: {{classificacao.RB}}.<br></div>
        </div>
        {% else %}
        <div class="d-flex justify-content-between">
        <div class="card-body" style="text-align:right">Pontuação: 0</div>
        <div class="card-body">RE: 0, RB: 0, RP: 0.<br></div>
        </div>
        {% endif %}
</div>
<br>
{% if horario < horalimite %}

{% for brasileirao in palpites %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/rodada/">veja seus resultados</a><br>
        <a href="/classificacao/">classificacao</a><br>
        <a href="/palpiteupdate/{{brasileirao.id}}">editar</a><br>
{% empty %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/rodada/">veja seus resultados</a><br>
        <a href="/classificacao/">classificacao</a><br>
        voce ainda não tem palpites para essa rodada
        <a href="/palpitecreate/">palpitar</a><br>

{% endfor %}
{% else %}
{% for brasileirao in palpites %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/rodada/">veja seus resultados</a><br>
        <a href="/classificacao/">classificacao</a><br>
        <a href="/palpite/{{brasileirao.id}}">verificar meu palpite</a><br>
{% empty %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/rodada/">veja seus resultados</a><br>
        <a href="/classificacao/">classificacao</a><br>
{% endfor %}
{% endif %}
{% endblock %}
