{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg  fixed top">
        <img src="{% static 'img/LogoCopa.png' %}" width="40" name="LOGO">
        <div class="absolute-top-right">
                <b style="color: #4b5156">{{request.user}}</b><br>
                <div class="absolute-right">
                        {% if request.user.is_authenticated %}
                        <a href="/logout/">Logout</a> {% else %}
                        <a href="/login/">Login</a> {% endif %}
                </div>
        </div>

</nav>
<hr>

    <style>
        td:nth-child(1), td:nth-child(2), td:nth-child(3) {
          text-align: right ;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
        table {
        border: 1px solid whitesmoke;
        border-collapse: collapse;
        }
    </style>

    {% csrf_token %}
<h3 align="center">BRASILEIRÃO</h3>

<h4 align="center">Rodada 34º </h4>
<table align="center" cellpadding="5">
                    <tr>
                        <td>FLA</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="18" name="FLA"></td>
                        <td>{{form.Flamengo}}</td>
                        <td align="center">x</td>
                        <td>{{form.Santos}}</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>SAN</td>
                    </tr>
                    <tr>
                        <td>CAP</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>{{form.AthleticoPR}}</td>
                        <td align="center">x</td>
                        <td>{{form.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>BOT</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>{{form.Botafogo}}</td>
                        <td align="center">x</td>
                        <td>{{form.Bragantino}}</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>BGT</td>
                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{form.Corinthians}}</td>
                        <td align="center">x</td>
                        <td>{{form.Fluminense}}</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="20" name="FLU"></td>
                        <td>FLU</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>{{form.Internacional}}</td>
                        <td align="center">x</td>
                        <td>{{form.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>GOI</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>{{form.Goias}}</td>
                        <td align="center">x</td>
                        <td>{{form.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>SAO</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>{{form.SaoPaulo}}</td>
                        <td align="center">x</td>
                        <td>{{form.AtleticoGO}}</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>ACG</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{form.Fortaleza}}</td>
                        <td align="center">x</td>
                        <td>{{form.Coritiba}}</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>CFC</td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>{{form.AtleticoMG}}</td>
                        <td align="center">x</td>
                        <td>{{form.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>
                    </tr>
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>{{form.Cuiaba}}</td>
                        <td align="center">x</td>
                        <td>{{form.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                </table>
<h4 align="center">Rodada 33º </h4>
                <table align="center" cellpadding="5">
                    <tr>
                        <td>BGT</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="18" name="BGT"></td>
                        <td>{{palpites.Bragantino}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AthleticoPR}}</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>CAP</td>
                    </tr>
                    <tr>
                        <td>AME</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>{{palpites.AmericaMG}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Flamengo}}</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>FLA</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>{{palpites.Santos}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Corinthians}}</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>COR</td>
                    </tr>
                    <tr>
                        <td>PAL</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>{{palpites.Palmeiras}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                    <tr>
                        <td>FLU</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="20" name="FLU"></td>
                        <td>{{palpites.Fluminense}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                    <tr>
                        <td>JUV</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>{{palpites.Juventude}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.SaoPaulo}}</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>SAO</td>
                    </tr>
                    <tr>
                        <td>ACG</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>{{palpites.AtleticoGO}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>{{palpites.Cuiaba}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Goias}}</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>GOI</td>
                    </tr>
                    <tr>
                        <td>CFC</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>{{palpites.Coritiba}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Internacional}}</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>INT</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{palpites.Fortaleza}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AtleticoMG}}</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>CAM</td>
                    </tr>
                </table>
    <a href="/home/">voltar</a><br>

{% endblock %}