{% extends 'app/index.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>

{% if horario > horalimite %}
the time is over
        <a href="/">voltar</a><br>
{% else %}
{% for dadoss in dados %}
{% if dadoss.user == request.user %}
voce já palpitou nessa rodada
        <a href="/">voltar</a><br>
{% endif %}
{% empty %}

    <style>
        td:nth-child(1), td:nth-child(2), td:nth-child(3) {
          text-align: right ;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
        table {
        border: 1px solid whitesmoke;
        border-collapse: collapse;
        }
    </style>


<form method="POST" action="">
    {% csrf_token %}
<h3 align="middle">BRASILEIRÃO</h3>
<h4 align="middle">Rodada 31ª</h4>
    <input type="hidden" name="Rodada" value="31">
                <table align="center" cellpadding="5">
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="18" name="CUI"></td>
                        <td>{{form.Cuiaba}}</td>
                        <td>{{form.Flamengo}}</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>FLA</td>
                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{form.Corinthians}}</td>
                        <td>{{form.AthleticoPR}}</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>CAP</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="18" name="INT"></td>
                        <td>{{form.Internacional}}</td>
                        <td>{{form.Goias}}</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>GOI</td>
                    </tr>
                    <tr>
                        <td>SAO</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>{{form.SaoPaulo}}</td>
                        <td>{{form.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{form.Fortaleza}}</td>
                        <td>{{form.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>{{form.AtleticoMG}}</td>
                        <td>{{form.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>FLU</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="16" name="FLU"></td>
                        <td>{{form.Fluminense}}</td>
                        <td>{{form.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>CFC</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>{{form.Coritiba}}</td>
                        <td>{{form.Bragantino}}</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>BGT</td>
                    </tr>
                    <tr>
                        <td>ACG</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>{{form.AtleticoGO}}</td>
                        <td>{{form.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>{{form.Santos}}</td>
                        <td>{{form.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>
                    </tr>
                </table>
    <input type="submit" value="Salvar">
</form>
{% endfor %}
{% endif %}
<br>
    <a href="/home/">voltar</a><br>
{% endblock %}