{% extends 'app/main.html' %}

{% block content %}

<p>{{request.user}}</p>
<hr>


    {% csrf_token %}
<h3>BRASILEIRÃO</h3>
<h4>Rodada 29º</h4>
                <table border="1">
                    <tr>
                        <th>Atlético-MG</th>
                        <th>{{palpites.AtleticoMG}}</th>
                        <th>{{palpites.Fluminense}}</th>
                        <th>Fluminense</th>
                    </tr>
                    <tr>
                        <th>Internacional</th>
                        <th>{{palpites.Internacional}}</th>
                        <th>{{palpites.Santos}}</th>
                        <th>Santos</th>
                    </tr>
                    <tr>
                        <th>Ceará</th>
                        <th>{{palpites.Ceara}}</th>
                        <th>{{palpites.AmericaMG}}</th>
                        <th>América-MG</th>
                    </tr>
                            <tr>
                        <th>Flamengo</th>
                        <th>{{palpites.Flamengo}}</th>
                        <th>{{palpites.Bragantino}}</th>
                        <th>Bragantino</th>
                    </tr>
                    <tr>
                        <th>Goiás</th>
                        <th>{{palpites.Goias}}</th>
                        <th>{{palpites.Fortaleza}}</th>
                        <th>Fortaleza</th>
                    </tr>
                    <tr>
                        <th>Avaí</th>
                        <th>{{palpites.Avai}}</th>
                        <th>{{palpites.AtleticoGO}}</th>
                        <th>Atletico-GO</th>
                    </tr>
                    <tr>
                        <th>Athletico-PR</th>
                        <th>{{palpites.AthleticoPR}}</th>
                        <th>{{palpites.Juventude}}</th>
                        <th>Juventude</th>
                    </tr>
                    <tr>
                        <th>Corinthians</th>
                        <th>{{palpites.Corinthians}}</th>
                        <th>{{palpites.Cuiaba}}</th>
                        <th>Cuiabá</th>
                    </tr>
                    <tr>
                        <th>Botafogo</th>
                        <th>{{palpites.Botafogo}}</th>
                        <th>{{palpites.Palmeiras}}</th>
                        <th>Palmeiras</th>
                    </tr>
                    <tr>
                        <th>São Paulo</th>
                        <th>{{palpites.SaoPaulo}}</th>
                        <th>{{palpites.Coritiba}}</th>
                        <th>Coritiba</th>
                    </tr>
                </table>
    <a href="/">voltar</a><br>

{% endblock %}