{% extends 'app/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>

{% if horario > horalimite %}
the time is over
        <a href="/">voltar</a><br>
{% else %}
{% for dadoss in dados %}
{% if dadoss.user == request.user %}
voce já palpitou nessa rodada
        <a href="/">voltar</a><br>
{% endif %}
{% empty %}

    <style>
        th:nth-child(1), th:nth-child(4) {
          background-color: #ddd;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
    </style>

<form method="POST" action="">
    {% csrf_token %}
<h3 align="middle">BRASILEIRÃO</h3>
<h4 align="middle">Rodada 29º</h4>
    <input type="hidden" name="Rodada" value="29">
                <table border="1">
                    <tr>
                        <th>Atlético-MG</th>
                        <th>{{form.AtleticoMG}}</th>
                        <th>{{form.Fluminense}}</th>
                        <th>Fluminense</th>
                    </tr>
                    <tr>
                        <th>Internacional</th>
                        <th>{{form.Internacional}}</th>
                        <th>{{form.Santos}}</th>
                        <th>Santos</th>
                    </tr>
                    <tr>
                        <th>Ceará</th>
                        <th>{{form.Ceara}}</th>
                        <th>{{form.AmericaMG}}</th>
                        <th>América-MG</th>
                    </tr>
                            <tr>
                        <th>Flamengo</th>
                        <th>{{form.Flamengo}}</th>
                        <th>{{form.Bragantino}}</th>
                        <th>Bragantino</th>
                    </tr>
                    <tr>
                        <th>Goiás</th>
                        <th>{{form.Goias}}</th>
                        <th>{{form.Fortaleza}}</th>
                        <th>Fortaleza</th>
                    </tr>
                    <tr>
                        <th>Avaí</th>
                        <th>{{form.Avai}}</th>
                        <th>{{form.AtleticoGO}}</th>
                        <th>Atletico-GO</th>
                    </tr>
                    <tr>
                        <th>Athletico-PR</th>
                        <th>{{form.AthleticoPR}}</th>
                        <th>{{form.Juventude}}</th>
                        <th>Juventude</th>
                    </tr>
                    <tr>
                        <th>Corinthians</th>
                        <th>{{form.Corinthians}}</th>
                        <th>{{form.Cuiaba}}</th>
                        <th>Cuiabá</th>
                    </tr>
                    <tr>
                        <th>Botafogo</th>
                        <th>{{form.Botafogo}}</th>
                        <th>{{form.Palmeiras}}</th>
                        <th>Palmeiras</th>
                    </tr>
                    <tr>
                        <th>São Paulo</th>
                        <th>{{form.SaoPaulo}}</th>
                        <th>{{form.Coritiba}}</th>
                        <th>Coritiba</th>
                    </tr>
                </table>
    <input type="submit" value="Salvar">
</form>
{% endfor %}
{% endif %}
<br>
    <a href="/rodada">voltar</a><br>
{% endblock %}