{% extends 'app/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}
<p>{{request.user}}</p>
<hr>

{% for brasileirao in palpites %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/rodada/">veja seus resultados</a><br>
        <a href="/palpiteupdate/{{brasileirao.id}}">editar</a><br>
{% empty %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        voce ainda não tem palpites para essa rodada
        <a href="/palpitecreate/">palpitar</a><br>
{% endfor %}
{% endblock %}