{% extends 'app/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>

<style>
    td:nth-child(1) {
      text-align: right ;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    th:nth-child(2), th:nth-child(3) {
      ;
    }
    table {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    }
</style>

<h4 align="middle">
    {% if rodadamin == 0 %}
        Classificação até a rodada: {{rodadamax}}º
    {% else %}
        {% if rodadamax == 0 %}
            Classificação da rodada: {{rodadamin}}º
        {% else %}
            {% if rodadamin == 28 %}
                Classificação até a rodada: {{rodadamax}}º
            {% else %}
                Classificação da rodada: {{rodadamin}}º até a rodada: {{rodadamax}}º
            {% endif %}
        {% endif %}
    {% endif %}
</h4>

{{classificacaomin}}
{{classificacaomax}}

{% for x in classificacao %}
{{x.PONTOS}}
{% endfor %}

    <table align="center" class="table table-sm" cellpadding="5">
        <tr>
            <th colspan="2">Classificação</th>
            <th>Pontos</th>
            <th style="display:none;">Resultado Exato</th>
            <th style="display:none;">Resultado Parcial + bonus</th>
            <th style="display:none;">Resultado Parcial</th>

        </tr>
        {% for x in cla %}
            <tr align="center">
                <td>{{x.posicao}}</td>
                <td align="left"><a href="/{{x.id}}/{{x.user}}/">{{x.user}}</a></td>
                <td>{{x.PONTOS}}</td>
                <td style="display:none;">{{x.RE}}</td>
                <td style="display:none;">{{x.RB}}</td>
                <td style="display:none;">{{x.RP}}</td>


            </tr>
        {% endfor %}


    </table>



<form id="formrodada" action="/classificacaoporrodada/" method="GET">
    {% csrf_token %}
    <!-- teste -->
    <label >Veja a classificação da rodada:</label>
    <select name="rodadamin" id="rodadamin" class="form-control">
        <option value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>
     <!-- teste -->
    <label >até a rodada:</label>
    <select name="rodadamax" id="rodadamax" class="form-control">
        <option value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>

    <input type="submit" class="btn-success" value="Verificar">

</form>


<br>
    <a href="/home/">voltar</a><br>

{% endblock %}