{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg  fixed top">
        <img src="{% static 'img/LogoCopa.png' %}" width="40" name="LOGO">
        <div class="absolute-top-right">
                <b style="color: #4b5156">{{request.user}}</b><br>
                <div class="absolute-right">
                        {% if request.user.is_authenticated %}
                        <a href="/logout/">Logout</a> {% else %}
                        <a href="/login/">Login</a> {% endif %}
                </div>
        </div>

</nav>
<hr>
<div align="right" style="font-size: 20px; margin-bottom: 25px" >
    <a class="button" href="/ligas/">LIGAS</a>
</div>
<style>
    td:nth-child(1) {
        text-align: right;

    }
    tr {
        border-bottom: 1px solid #ddd;
    }
    th:nth-child(2), th:nth-child(3) {
        ;
    }
    table {
        display:
        padding: 20px;
        border: 1px solid whitesmoke;
        border-collapse: collapse;
    }
</style>
<p style="text-align:center; color:black">{% if group %}Liga <b style="text-transform: uppercase">{{group}}</b> {% endif %} </p>
    <table class="table table-striped">
        <tr style="background-color: lightgray">
            <th style="text-align:right">#</th>
            <th style="text-align:left">Classificação</th>
            <th style="text-align:center">Pontos</th>
        </tr>
        {% for x in cla %}
            <tr align="center">
                <td>{{x.posicao}}</td>
                <td align="left"><a href="/{{x.id}}/{{x.user}}/">{{x.user}}</a></td>
                <td>{{x.PONTOS}}</td>
            </tr>
        {% endfor %}

    </table>
<div class="col-lg-12" style="text-align:right; font-size: 10px; margin-top: 0px">
<a href="/desempate/">Critérios de desempate</a>
</div>

<form id="formrodada" action="{% if lista_liga %}/classificacaoporrodadagrupo/{{group}}/{% else %}/classificacaoporrodada/{% endif %}" method="GET">
    {% csrf_token %}
    <!-- teste -->
    {% if lista_liga %}
    <input type="hidden" name="lista_liga" value="{{lista_liga}}">
    <input type="hidden" name="group" value="{{group}}">
    {% endif %}
    <label >Classificação:</label>
    <select name="tipo" id="tipo" class="form-select-padding">
        <option value="0">Selecione</option>
        <option value="1">acumulativa</option>
        <option value="2">por rodada</option>

    </select>
     <!-- teste -->
    <label >rodada:</label>
    <select name="rodada" id="rodada" class="form-select-padding">
        <option value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>

    <input type="submit" class="btn-success btn-custom" value="Verificar">

</form>


<br>
    <a href="/brasileirao/">voltar</a><br>

{% endblock %}