{% extends 'app/index.html' %}
{% load static %}

{% block content %}

{% if group %}
    <div class="card">
        <div class="card" style="text-align:center; margin-top: 20px"><b style="text-transform: uppercase">{{group}}</b></div>
        <div class="d-flex justify-content-between">
        <div class="card-body" style="text-align:right">Início: rodada {{rodadamin}}ª</div>
        <div class="card-body"><a href="/ligas/{{group}}/">Participantes: {{membros}}</a></div>
        </div>
    </div>
<hr>
{% else %}
<div align="right" style="font-size: 20px; margin-bottom: 25px" >
    <a class="button" href="/ligas/">LIGAS</a>
</div>
{% endif %}
<style>
    td:nth-child(1) {
      text-align: right ;
    }
    tr {
      border-bottom: 1px solid #ddd;
    }
    th:nth-child(2), th:nth-child(3) {
      ;
    }
    table {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    }
</style>
    <!--
<h4 align="middle">
    {% if rodadamin == 0 %}
        Classificação até a rodada: {{rodadamax}}º
    {% else %}
        {% if rodadamax == 0 %}
            Classificação da rodada: {{rodadamin}}º
        {% else %}
            {% if rodadamin == 28 %}
                Classificação até a rodada: {{rodadamax}}º
            {% else %}
                Classificação da rodada: {{rodadamin}}º até a rodada: {{rodadamax}}º
            {% endif %}
        {% endif %}
    {% endif %}
</h4> -->
    <table align="center" class="table table-striped">
        <tr style="background-color: lightgray">
            <th style="text-align:right">#</th>
            <th style="text-align:left">Classificação {% if tipo == 1 %} até a rodada {{rodada}}ª {%else%}da rodada {{rodada}}ª{%endif%}</th>
            <th style="text-align:center">Pontos</th>
            <th style="display:none;">Resultado Exato</th>
            <th style="display:none;">Resultado Parcial + bonus</th>
            <th style="display:none;">Resultado Parcial</th>
        </tr>


        {% for x in cla %}
            <tr align="center">
                <td>{{x.posicao}}</td>
                <td align="left"><a href="/{{x.id}}/{{x.user}}/">{{x.user}}</a></td>
                <td>{{x.PONTOS}}</td>
                <td style="display:none;">{{x.RE}}</td>
                <td style="display:none;">{{x.RB}}</td>
                <td style="display:none;">{{x.RP}}</td>


            </tr>
        {% endfor %}


    </table>

<div class="col-lg-12" style="text-align:right; font-size: 10px; margin-top: 0px">
<a href="/desempate/">Critérios de desempate</a>
</div>

<form id="formrodada" action="{% if group %}/classificacaoporrodadagrupo/{{group}}/{% else %}/classificacaoporrodada/{% endif %}" method="GET">
    {% csrf_token %}
    <!-- teste -->
    {% if group %}
    <input type="hidden" name="group" value="{{group}}">
    {% endif %}
    <div>
    <label >Classificação:</label>
    <select name="tipo" id="tipo" class="form-select-padding">
        <option value="0">Selecione</option>
        <option value="1">acumulativa</option>
        <option value="2">por rodada</option>
    </select>
    </div>
     <!-- teste -->
    <div >
    <label >rodada:</label>
    <select name="rodada" id="rodada" class="form-select-padding">
        <option value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn-success btn-custom" value="Verificar">
    </div>
</form>


<br>
<!--
{% if group %}
    <a href="/classificacao/">voltar</a><br>
{% else %}
    <a href="/brasileirao/">voltar</a><br>
{% endif %}
-->
{% endblock %}