{% extends 'app/main.html' %}

{% block content %}


<hr>
{% for clubes in palpite %}
{% if clubes.user == request.user %}
voce já palpitou
{% endif %}
{% empty %}
{% for clubes in palpites %}
        <a href="/pontuacao/">critérios de pontuação</a><br>
        <a href="/palpiteupdate/{{clubes.id}}">editar</a><br>
        <a href="/palpitedelete/{{clubes.id}}">deletar</a><br>
{% empty %}
<a href="/pontuacao/">critérios de pontuação</a><br>
voce ainda não tem palpites para essa rodada
        <a href="/palpitar/">palpitar</a><br>
{% endfor %}
{% endfor %}
{% endblock %}