{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<!--<div id="menu" class="dropdown" align="right">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px">
  Menu
  </button>
        {% if horario < horalimite %}
{% for brasileirao in palpites %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/rodada/">Resultados</a><br>
                <a class="dropdown-item" href="/classificacao/">Classificação</a><br>
                <a class="dropdown-item" href="/palpiteupdate/{{brasileirao.id}}">palpitar</a><br>
        </div>
{% empty %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/rodada/">Resultados</a><br>
                <a class="dropdown-item" href="/classificacao/">Classificação</a><br>
                <a class="dropdown-item" href="/palpitecreate/">palpitar</a><br>
        </div>
{% endfor %}
{% else %}
{% for brasileirao in palpites %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/rodada/">Resultados</a><br>
                <a class="dropdown-item" href="/classificacao/">Classificação</a><br>
                <a class="dropdown-item" href="/palpite/{{brasileirao.id}}">Palpite</a><br>
        </div>
{% empty %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/rodada/">Resultados</a><br>
                <a class="dropdown-item" href="/classificacao/">Classificação</a><br>
        </div>
{% endfor %}
{% endif %}
</div> -->
<div class="card flexbox" align="center">
        {% if classificacao %}
        <div>
            <a style="text-align:center; font-size: 24px" >PT: {{classificacao.PONTOS}}
            </a>
        </div>
        <div>
            <a style="text-align:center; font-size: 16px"><span style="color: blue">RE: {{classificacao.RE}};</span>
                <span style="color: #993399">RB: {{classificacao.RB}};</span>
                <span style="color: orange">RP: {{classificacao.RP}};</span>
            </a>
        </div>
        {% else %}
        <span style="text-align:center; font-size: 18px">Bora Palpitar!!!</span>
        {% endif %}
</div>
<div align="center" style="margin-top:20px">
    <a class="button" href="/brasileirao/">BRASILEIRÃO</a>
</div>

<div align="center" style="margin-top:20px">
    <a class="button" href="/copadomundo/">COPA DO MUNDO</a>
</div>

<div align="center" style="margin-top:20px">
    <a class="button" href="/copadobrasil/">COPA DO BRASIL</a>
</div>

<br>
{% endblock %}