{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<div class="card">
        <div class="card-body">
                <p><b>Critérios de desempate:</b></p>
                - 1º Maior número de acertos exatos (RE);<br>
                - 2º Maior número de acertos parciais com bônus (RB);<br>
                - 3º Maior número de rodadas jogadas por usuário;<br>
                - 4º Data de criação da conta.<br>
        </div>
</div>
<br>
<!--
    <a href="/brasileirao/">voltar</a><br>
-->

{% endblock %}