{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg  fixed top">
        <img src="{% static 'img/LogoCopa.png' %}" width="40" name="LOGO">
        <div class="absolute-top-right">
                <b style="color: #4b5156"><a href="/profile/">{{request.user}}</a></b><br>
                <div class="absolute-right">
                        {% if request.user.is_authenticated %}
                        <a href="/logout/">Logout</a> {% else %}
                        <a href="/login/">Login</a> {% endif %}
                </div>
        </div>

</nav>
<hr>
    <style>
        td:nth-child(1), td:nth-child(2), td:nth-child(3) {
          text-align: right ;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
        table {
        border: 1px solid whitesmoke;
        border-collapse: collapse;
        }
    </style>

<div class="card">
        <div  style="text-align:center; color:black; margin-top:20px; font-size: 20px">Perfil de <b>{{user}}</b></div>
        {% if classificacao %}
        <div class="d-flex justify-content-between">
        <div class="card-body" style="text-align:right"><b>PT: {{classificacao.PONTOS}}</b></div>
        <div class="card-body"><a style="text-align:center; font-size: 16px"><span style="color: blue">RE: {{classificacao.RE}};</span>
                <span style="color: #993399">RB: {{classificacao.RB}};</span>
                <span style="color: orange">RP: {{classificacao.RP}}.</span>
            </a></div>
        </div>
        {% else %}
        <div class="d-flex justify-content-between">
        <div class="card-body" style="text-align:right">PT: 0</div>
        <div class="card-body">RE: 0, RB: 0, RP: 0.<br></div>
        </div>
        {% endif %}
</div>
<hr>
{% if palpites != 0 %}
                <table align="center" cellpadding="5">
                    <tr>
                        <td>FLU</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="20" name="FLU"></td>
                        <td>{{palpites.Fluminense}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.SaoPaulo}}</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>SAO</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>{{palpites.Santos}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                    <tr>
                        <td>BGT</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>{{palpites.Bragantino}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>GOI</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>{{palpites.Goias}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>
                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{palpites.Corinthians}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>{{palpites.Internacional}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AthleticoPR}}</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>CAP</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{palpites.Fortaleza}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AtleticoGO}}</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>ACG</td>
                    </tr>
                    <tr>
                        <td>CFC</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>{{palpites.Coritiba}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Flamengo}}</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>FLA</td>
                    </tr>
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>{{palpites.Cuiaba}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>{{palpites.AtleticoMG}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                </table>
{% else %}
Usuário não palpitou na última rodada.
{% endif %}
<form id="formrodadausuarios" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{pk}}">
    <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="verificacao" value=1>
    {% csrf_token %}
    <label for="rodadausuarios">Rodada:</label>
    <select name="rodada" id="rodadausuarios" class="form-select-padding">
        <option value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn-success btn-custom" value="Verificar">
</form>

<br>
    <a href="/classificacao/">voltar</a><br>

{% endblock %}