{% extends 'app/main.html' %}
{% load static %}
{% block content %}

<p>{{request.user}}</p>
<hr>

    <style>
        td:nth-child(1), td:nth-child(2), td:nth-child(3) {
          text-align: right ;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
        table {
        border: 1px solid whitesmoke;
        border-collapse: collapse;
        }
    </style>
<p>Perfil de {{user}}</p>
    {% csrf_token %}
{% if palpites != 0 %}
<h3 align="center">BRASILEIRÃO</h3>
<h4 align="center">Rodada 30º </h4>
                <table align="center" cellpadding="5">
                    {% csrf_token %}
                    <tr>
                        <td>JUV</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="18" name="JUV"></td>
                        <td>{{palpites.Juventude}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Corinthians}}</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>COR</td>
                    </tr>
                    <tr>
                        <td>BGT</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>{{palpites.Bragantino}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Cuiaba}}</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>CUI</td>
                    </tr>
                    <tr>
                        <td>CEA</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="18" name="CEA"></td>
                        <td>{{palpites.Ceara}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Goias}}</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>GOI</td>
                    </tr>
                    <tr>
                        <td>ACG</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>{{palpites.AtleticoGO}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Fluminense}}</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="20" name="FLU"></td>
                        <td>FLU</td>
                    </tr>
                    <tr>
                        <td>CAP</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>{{palpites.AthleticoPR}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Fortaleza}}</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>FOR</td>
                    </tr>
                    <tr>
                        <td>FLA</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>{{palpites.Flamengo}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Internacional}}</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>INT</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="16" name="SAN"></td>
                        <td>{{palpites.Santos}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.AtleticoMG}}</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>CAM</td>
                    </tr>
                    <tr>
                        <td>PAL</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>{{palpites.Palmeiras}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Coritiba}}</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>CFC</td>
                    </tr>
                    <tr>
                        <td>AME</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>{{palpites.AmericaMG}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.SaoPaulo}}</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>SAO</td>
                    </tr>
                    <tr>
                        <td>AVA</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>{{palpites.Avai}}</td>
                        <td align="center">x</td>
                        <td>{{palpites.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                </table>
<form id="formrodada" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{pk}}">
    <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="verificacao" value=1>
    {% csrf_token %}
    <label for="rodada">Rodada:</label>
    <select name="rodada" id="rodada" class="form-control">
        <option action="/rodada/" value="0">Selecione</option>
            {% for rodadas in rodada %}
        <option value="{{ rodadas.Rodada }}">{{ rodadas.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn btn-success" value="Verificar">
</form>
{% else %}
Este usuário não palpitou esta rodada.
<form id="formrodada" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{pk}}">
    <input type="hidden" name="user" value="{{user}}">
    <input type="hidden" name="verificacao" value=1>
    {% csrf_token %}
    <label for="rodada">Rodada:</label>
    <select name="rodada" id="rodada" class="form-control">
        <option action="/rodada/" value="0">Selecione</option>
            {% for rodadas in rodada %}
        <option value="{{ rodadas.Rodada }}">{{ rodadas.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn btn-success" value="Verificar">
</form>

{% endif %}

    <a href="/">voltar</a><br>

{% endblock %}