{% extends 'app/main.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>

    <style>
        td:nth-child(1), td:nth-child(2), td:nth-child(3) {
          text-align: right ;
        }
        tr {
          border-bottom: 1px solid #ddd;
        }
        th:nth-child(2), th:nth-child(3) {
          background-color: white;
        }
        table {
        border: 1px solid whitesmoke;
        border-collapse: collapse;
        }
    </style>
<p>Perfil de {{user}}</p>
    {% csrf_token %}


<form id="formrodadausuarios" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{pk}}">
    <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="verificacao" value=1>
    {% csrf_token %}
    <label for="rodadausuarios">Rodada:</label>
    <select name="rodada" id="rodadausuarios" class="form-control">
        <option value="0">Selecione</option>
            {% for rodadas in rodada %}
        <option value="{{ rodadas.Rodada }}">{{ rodadas.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn btn-success" value="Verificar">
</form>

<br>
    <a href="/">voltar</a><br>

{% endblock %}