{% extends 'app/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}
<p>{{request.user}}</p>
<hr>
Segue critérios de pontuação:<br>
- Placar exato: 18 pontos.<br>
- Se errar o placar mas acertar o vencedor da partida: 9 pontos. E se, além de acertar o vencedor da partida, acertar, a diferença de gols entre o vencedor e o perdedor, ganha mais 3 pontos, totalizando: 12 pontos.<br>
- Se errar o placar mas acertar o empate: 9 pontos.<br>
<br>
    <a href="/">voltar</a><br>


{% endblock %}