{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg  fixed top">
        <img src="{% static 'img/LogoCopa.png' %}" width="40" name="LOGO">
        <div class="absolute-top-right">
                <b style="color: #4b5156">{{request.user}}</b><br>
                <div class="absolute-right">
                        {% if request.user.is_authenticated %}
                        <a href="/logout/">Logout</a> {% else %}
                        <a href="/login/">Login</a> {% endif %}
                </div>
        </div>

</nav>
<hr>
Segue critérios de pontuação:<br>
- Placar exato: 18 pontos.<br>
- Se errar o placar mas acertar o vencedor da partida: 9 pontos. E se, além de acertar o vencedor da partida, acertar, a diferença de gols entre o vencedor e o perdedor, ganha mais 3 pontos, totalizando: 12 pontos.<br>
- Se errar o placar mas acertar o empate: 9 pontos.<br>
<br>
    <a href="/home/">voltar</a><br>


{% endblock %}