{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<div class="card">
        <div class="card-body">
                <p style="color: black"><b>Critérios de pontuação:</b></p>
                - 1º Resultado Exato (RE): <b>18</b> pontos;<br>
                - 2º Resultado Parcial com Bônus* (RB): <b>12</b> pontos;<br>
                - 3º Resultado Parcial** (RP): <b>9</b> pontos;<br>
                - 4º Empate: <b>9</b> pontos.<br>
        </div>
</div>
<br>
<div class="card">
        <div class="card-body">
<p style="font-size: 14px" ><b>Observações:</b></p>
<b  style="font-size: 10px">
        **Resultado Parcial é quando o usuário acerta o vencedor da partida.<br>
        *Resultado Parcial com bônus é quando o usuário, além de acertar o vencedor da partida, acerta a diferença de gols entre os times.<br>

</b>
                        </div>
</div>
<br>
<!--
    <a href="/brasileirao/">voltar</a><br>
-->

{% endblock %}