{% extends 'app/main.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>
<div id="right">
<h4>Resultado {{rodada}}ª rodada</h4><br>
{% for x in resultadoobj %}
    São Paulo:{{x.SaoPaulo}} | {{x.Avai}}:Avaí<br>
    Santos:{{x.Santos}} | {{x.AthleticoPR}}:Athletico-PR<br>
    Fluminense:{{x.Fluminense}} | {{x.Juventude}}:Juventude<br>
    Corinthians:{{x.Corinthians}} | {{x.AtleticoGO}}:Atlético-GO<br>
    Fortaleza:{{x.Fortaleza}} | {{x.Flamengo}}:Flamengo<br>
    Coritiba:{{x.Coritiba}} | {{x.Ceara}}:Ceará<br>
    Cuiabá:{{x.Cuiaba}} | {{x.AmericaMG}}:América-MG<br>
    Atletico-MG:{{x.AtleticoMG}} | {{x.Palmeiras}}:Palmeiras<br>
    Internacional:{{x.Internacional}} | {{x.Bragantino}}:Bragantino<br>
    Goiás:{{x.Goias}} | {{x.Botafogo}}:Botafogo<br>
{% endfor %}
</div><div id="left">
<h4>Seus palpites</h4><br>
{% for x in palpiteobj %}
    São Paulo:{{x.SaoPaulo}} | {{x.Avai}}:Avaí<br>
    Santos:{{x.Santos}} | {{x.AthleticoPR}}:Athletico-PR<br>
    Fluminense:{{x.Fluminense}} | {{x.Juventude}}:Juventude<br>
    Corinthians:{{x.Corinthians}} | {{x.AtleticoGO}}:Atlético-GO<br>
    Fortaleza:{{x.Fortaleza}} | {{x.Flamengo}}:Flamengo<br>
    Coritiba:{{x.Coritiba}} | {{x.Ceara}}:Ceará<br>
    Cuiabá:{{x.Cuiaba}} | {{x.AmericaMG}}:América-MG<br>
    Atletico-MG:{{x.AtleticoMG}} | {{x.Palmeiras}}:Palmeiras<br>
    Internacional:{{x.Internacional}} | {{x.Bragantino}}:Bragantino<br>
    Goiás:{{x.Goias}} | {{x.Botafogo}}:Botafogo<br>
{% endfor %}
</div>
<hr>
Resultado Exatoo {{exato}}<br/>
Resultado Parcial: {{igual}}<br/>
Resultado Parcial + bônus: {{bonus}}<br/>
Você errou: {{diferente}}<br/>
Total de pontos: {{total}}<br>

    <a href="/classificacao/">veja como ficou a classificação</a><br>
<br>
    <a href="/rodada">voltar</a><br>
{% endblock %}