{% extends 'app/main.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>

        <style>
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
              text-align: right ;
            }
            tr {
              border-bottom: 1px solid #ddd;
            }
            th:nth-child(2), th:nth-child(3) {
              ;
            }
            table {
            border: 1px solid whitesmoke;
            border-collapse: collapse;
            }
        </style>
{% if 28 == rodada %}
<h3 align="middle">BRASILEIRÃO</h3>
<h4 align="middle">Rodada 28º</h4>

                <table id="analise" align="center" cellpadding="10">
                    <tr>
                        <th colspan="15" style="font-size: 15px">  Resultados (Palpites)</th>
                    </tr>
                    <tr>
                        <td>SAO</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="18" name="SAO"></td>
                        <td>{{resultadoobj.SaoPaulo}}</td>
                        <td style="color: {{cor1}}; font-size: 13.5px"><b>({{palpiteobj.SaoPaulo}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor1}}; font-size: 13.5px"><b>({{palpiteobj.Avai}})</b></td>
                        <td>{{resultadoobj.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>{{resultadoobj.Santos}}</td>
                        <td style="color: {{cor2}}; font-size: 13.5px"><b>({{palpiteobj.Santos}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor2}}; font-size: 13.5px"><b>({{palpiteobj.AthleticoPR}})</b></td>
                        <td>{{resultadoobj.AthleticoPR}}</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>CAP</td>
                    </tr>
                    <tr>
                        <td>FLU</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="18" name="FLU"></td>
                        <td>{{resultadoobj.Fluminense}}</td>
                        <td style="color: {{cor3}}; font-size: 13.5px"><b>({{palpiteobj.Fluminense}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor3}}; font-size: 13.5px"><b>({{palpiteobj.Juventude}})</b></td>
                        <td>{{resultadoobj.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>

                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{resultadoobj.Corinthians}}</td>
                        <td style="color: {{cor4}}; font-size: 13.5px"><b>({{palpiteobj.Corinthians}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor4}}; font-size: 13.5px"><b>({{palpiteobj.AtleticoGO}})</b></td>
                        <td>{{resultadoobj.AtleticoGO}}</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>ACG</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{resultadoobj.Fortaleza}}</td>
                        <td style="color: {{cor5}}; font-size: 13.5px"><b>({{palpiteobj.Fortaleza}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor5}}; font-size: 13.5px"><b>({{palpiteobj.Flamengo}})</b></td>
                        <td>{{resultadoobj.Flamengo}}</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>FLA</td>
                    </tr>
                    <tr>
                        <td>CFC</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>{{resultadoobj.Coritiba}}</td>
                        <td style="color: {{cor6}}; font-size: 13.5px"><b>({{palpiteobj.Coritiba}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor6}}; font-size: 13.5px"><b>({{palpiteobj.Ceara}})</b></td>
                        <td>{{resultadoobj.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>{{resultadoobj.Cuiaba}}</td>
                        <td style="color: {{cor7}}; font-size: 13.5px"><b>({{palpiteobj.Cuiaba}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor7}}; font-size: 13.5px"><b>({{palpiteobj.AmericaMG}})</b></td>
                        <td>{{resultadoobj.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>{{resultadoobj.AtleticoMG}}</td>
                        <td style="color: {{cor8}}; font-size: 13.5px"><b>({{palpiteobj.AtleticoMG}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor8}}; font-size: 13.5px"><b>({{palpiteobj.Palmeiras}})</b></td>
                        <td>{{resultadoobj.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>{{resultadoobj.Internacional}}</td>
                        <td style="color: {{cor9}}; font-size: 13.5px"><b>({{palpiteobj.Internacional}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor9}}; font-size: 13.5px"><b>({{palpiteobj.Bragantino}})</b></td>
                        <td>{{resultadoobj.Bragantino}}</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>BGT</td>

                    </tr>
                    <tr>
                        <td>GOI</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>{{resultadoobj.Goias}}</td>
                        <td style="color: {{cor10}}; font-size: 13.5px"><b>({{palpiteobj.Goias}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor10}}; font-size: 13.5px"><b>({{palpiteobj.Botafogo}})</b></td>
                        <td>{{resultadoobj.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                </table>
{% elif rodada == 29 %}
<h3 align="center">BRASILEIRÃO</h3>
<h4 align="center">Rodada 29º </h4>
                <table align="center" cellpadding="10">
                    <tr>
                        <th colspan="15" style="font-size: 15px">  Resultados (Palpites)</th>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="18" name="CAM"></td>
                        <td>{{resultadoobj.AtleticoMG}}</td>
                        <td style="color: {{cor1}}; font-size: 13.5px"><b>({{palpiteobj.AtleticoMG}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor1}}; font-size: 13.5px"><b>({{palpiteobj.Fluminense}})</b></td>
                        <td>{{resultadoobj.Fluminense}}</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="20" name="FLU"></td>
                        <td>FLU</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>{{resultadoobj.Internacional}}</td>
                        <td style="color: {{cor2}}; font-size: 13.5px"><b>({{palpiteobj.Internacional}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor2}}; font-size: 13.5px"><b>({{palpiteobj.Santos}})</b></td>
                        <td>{{resultadoobj.Santos}}</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>SAN</td>
                    </tr>
                    <tr>
                        <td>CEA</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="18" name="CEA"></td>
                        <td>{{resultadoobj.Ceara}}</td>
                        <td style="color: {{cor3}}; font-size: 13.5px"><b>({{palpiteobj.Ceara}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor3}}; font-size: 13.5px"><b>({{palpiteobj.AmericaMG}})</b></td>
                        <td>{{resultadoobj.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>FLA</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>{{resultadoobj.Flamengo}}</td>
                        <td style="color: {{cor4}}; font-size: 13.5px"><b>({{palpiteobj.Flamengo}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor4}}; font-size: 13.5px"><b>({{palpiteobj.Bragantino}})</b></td>
                        <td>{{resultadoobj.Bragantino}}</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>BGT</td>
                    </tr>
                    <tr>
                        <td>GOI</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>{{resultadoobj.Goias}}</td>
                        <td style="color: {{cor5}}; font-size: 13.5px"><b>({{palpiteobj.Goias}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor5}}; font-size: 13.5px"><b>({{palpiteobj.Fortaleza}})</b></td>
                        <td>{{resultadoobj.Fortaleza}}</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>FOR</td>
                    </tr>
                    <tr>
                        <td>AVA</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>{{resultadoobj.Avai}}</td>
                        <td style="color: {{cor6}}; font-size: 13.5px"><b>({{palpiteobj.Avai}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor6}}; font-size: 13.5px"><b>({{palpiteobj.AtleticoGO}})</b></td>
                        <td>{{resultadoobj.AtleticoGO}}</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>ACG</td>
                    </tr>
                    <tr>
                        <td>CAP</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="16" name="CAP"></td>
                        <td>{{resultadoobj.AthleticoPR}}</td>
                        <td style="color: {{cor7}}; font-size: 13.5px"><b>({{palpiteobj.AthleticoPR}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor7}}; font-size: 13.5px"><b>({{palpiteobj.Juventude}})</b></td>
                        <td>{{resultadoobj.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>
                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{resultadoobj.Corinthians}}</td>
                        <td style="color: {{cor8}}; font-size: 13.5px"><b>({{palpiteobj.Corinthians}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor8}}; font-size: 13.5px"><b>({{palpiteobj.Cuiaba}})</b></td>
                        <td>{{resultadoobj.Cuiaba}}</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>CUI</td>
                    </tr>
                    <tr>
                        <td>BOT</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>{{resultadoobj.Botafogo}}</td>
                        <td style="color: {{cor9}}; font-size: 13.5px"><b>({{palpiteobj.Botafogo}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor9}}; font-size: 13.5px"><b>({{palpiteobj.Palmeiras}})</b></td>
                        <td>{{resultadoobj.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>SAO</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="20" name="SAO"></td>
                        <td>{{resultadoobj.SaoPaulo}}</td>
                        <td style="color: {{cor10}}; font-size: 13.5px"><b>({{palpiteobj.SaoPaulo}})</b></td>
                        <td>x</td>
                        <td style="color: {{cor10}}; font-size: 13.5px"><b>({{palpiteobj.Coritiba}})</b></td>
                        <td>{{resultadoobj.Coritiba}}</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="COR"></td>
                        <td>COR</td>
                    </tr>
                </table>
{% endif %}


<br>
<hr>
    <table align="center" cellpadding="15">
        <tr>
            <td><span style="color: blue">RE: {{exato}};</span>
                <span style="color: #993399">RP: {{igual}};</span>
                <span style="color: orange">RB: {{bonus}};</span>
                <span style="color: red">ER: {{diferente}};</span>
                PT: {{total}}.
            </td>
        </tr>
    </table>

    <p  style="font-size: 8px">
        LEGENDA:<br>
        RE: Resultado Exato;
        RP: Resultado Parcial;
        RB: Resultado Parcial com Bônus;
        ER: Resultado Errado;
    </p>
<hr>

    <a href="/rodada">voltar</a><br>
{% endblock %}