{% extends 'app/main.html' %}

{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}

<p>{{request.user}}</p>
<hr>


        <style>
            td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4) {
              text-align: right ;
            }
            tr {
              border-bottom: 1px solid #ddd;
            }
            th:nth-child(2), th:nth-child(3) {
              ;
            }
            table {
            border: 1px solid whitesmoke;
            border-collapse: collapse;
            }
        </style>
<h3 align="middle">BRASILEIRÃO</h3>
<h4 align="middle">Rodada 29º</h4>

                <table id="analise" align="center" cellpadding="10">
                    <tr>
                        <th colspan="15" style="font-size: 15px">  Resultados (Palpites)</th>
                    </tr>
                    <tr>
                        <td>SAO</td>
                        <td><img src="{% static 'img/SaoPaulo.svg' %}" width="18" name="SAO"></td>
                        <td>{{resultadoobj.SaoPaulo}}</td>
                        <td style="color: {{cor1}}; font-size: 13.5px">({{palpiteobj.SaoPaulo}})</td>
                        <td>x</td>
                        <td style="color: {{cor1}}; font-size: 13.5px">({{palpiteobj.Avai}})</td>
                        <td>{{resultadoobj.Avai}}</td>
                        <td><img src="{% static 'img/Avai.svg' %}" width="20" name="AVA"></td>
                        <td>AVA</td>
                    </tr>
                    <tr>
                        <td>SAN</td>
                        <td><img src="{% static 'img/Santos.svg' %}" width="20" name="SAN"></td>
                        <td>{{resultadoobj.Santos}}</td>
                        <td style="color: {{cor2}}; font-size: 13.5px">({{palpiteobj.Santos}})</td>
                        <td>x</td>
                        <td style="color: {{cor2}}; font-size: 13.5px">({{palpiteobj.AthleticoPR}})</td>
                        <td>{{resultadoobj.AthleticoPR}}</td>
                        <td><img src="{% static 'img/AthleticoPR.svg' %}" width="20" name="CAP"></td>
                        <td>CAP</td>
                    </tr>
                    <tr>
                        <td>FLU</td>
                        <td><img src="{% static 'img/Fluminense.svg' %}" width="18" name="FLU"></td>
                        <td>{{resultadoobj.Fluminense}}</td>
                        <td style="color: {{cor3}}; font-size: 13.5px">({{palpiteobj.Fluminense}})</td>
                        <td>x</td>
                        <td style="color: {{cor3}}; font-size: 13.5px">({{palpiteobj.Juventude}})</td>
                        <td>{{resultadoobj.Juventude}}</td>
                        <td><img src="{% static 'img/Juventude.svg' %}" width="20" name="JUV"></td>
                        <td>JUV</td>

                    </tr>
                    <tr>
                        <td>COR</td>
                        <td><img src="{% static 'img/Corinthians.svg' %}" width="20" name="COR"></td>
                        <td>{{resultadoobj.Corinthians}}</td>
                        <td style="color: {{cor4}}; font-size: 13.5px">({{palpiteobj.Corinthians}})</td>
                        <td>x</td>
                        <td style="color: {{cor4}}; font-size: 13.5px">({{palpiteobj.AtleticoGO}})</td>
                        <td>{{resultadoobj.AtleticoGO}}</td>
                        <td><img src="{% static 'img/AtleticoGO.svg' %}" width="20" name="ACG"></td>
                        <td>ACG</td>
                    </tr>
                    <tr>
                        <td>FOR</td>
                        <td><img src="{% static 'img/Fortaleza.svg' %}" width="20" name="FOR"></td>
                        <td>{{resultadoobj.Fortaleza}}</td>
                        <td style="color: {{cor5}}; font-size: 13.5px">({{palpiteobj.Fortaleza}})</td>
                        <td>x</td>
                        <td style="color: {{cor5}}; font-size: 13.5px">({{palpiteobj.Flamengo}})</td>
                        <td>{{resultadoobj.Flamengo}}</td>
                        <td><img src="{% static 'img/Flamengo.svg' %}" width="20" name="FLA"></td>
                        <td>FLA</td>
                    </tr>
                    <tr>
                        <td>CFC</td>
                        <td><img src="{% static 'img/Coritiba.svg' %}" width="20" name="CFC"></td>
                        <td>{{resultadoobj.Coritiba}}</td>
                        <td style="color: {{cor6}}; font-size: 13.5px">({{palpiteobj.Coritiba}})</td>
                        <td>x</td>
                        <td style="color: {{cor6}}; font-size: 13.5px">({{palpiteobj.Ceara}})</td>
                        <td>{{resultadoobj.Ceara}}</td>
                        <td><img src="{% static 'img/Ceara.svg' %}" width="20" name="CEA"></td>
                        <td>CEA</td>
                    </tr>
                    <tr>
                        <td>CUI</td>
                        <td><img src="{% static 'img/Cuiaba.svg' %}" width="20" name="CUI"></td>
                        <td>{{resultadoobj.Cuiaba}}</td>
                        <td style="color: {{cor7}}; font-size: 13.5px">({{palpiteobj.Cuiaba}})</td>
                        <td>x</td>
                        <td style="color: {{cor7}}; font-size: 13.5px">({{palpiteobj.AmericaMG}})</td>
                        <td>{{resultadoobj.AmericaMG}}</td>
                        <td><img src="{% static 'img/AmericaMG.svg' %}" width="20" name="AME"></td>
                        <td>AME</td>
                    </tr>
                    <tr>
                        <td>CAM</td>
                        <td><img src="{% static 'img/AtleticoMG.svg' %}" width="20" name="CAM"></td>
                        <td>{{resultadoobj.AtleticoMG}}</td>
                        <td style="color: {{cor8}}; font-size: 13.5px">({{palpiteobj.AtleticoMG}})</td>
                        <td>x</td>
                        <td style="color: {{cor8}}; font-size: 13.5px">({{palpiteobj.Palmeiras}})</td>
                        <td>{{resultadoobj.Palmeiras}}</td>
                        <td><img src="{% static 'img/Palmeiras.svg' %}" width="20" name="PAL"></td>
                        <td>PAL</td>
                    </tr>
                    <tr>
                        <td>INT</td>
                        <td><img src="{% static 'img/Internacional.svg' %}" width="20" name="INT"></td>
                        <td>{{resultadoobj.Internacional}}</td>
                        <td style="color: {{cor9}}; font-size: 13.5px">({{palpiteobj.Internacional}})</td>
                        <td>x</td>
                        <td style="color: {{cor9}}; font-size: 13.5px">({{palpiteobj.Bragantino}})</td>
                        <td>{{resultadoobj.Bragantino}}</td>
                        <td><img src="{% static 'img/Bragantino.svg' %}" width="20" name="BGT"></td>
                        <td>BGT</td>

                    </tr>
                    <tr>
                        <td>GOI</td>
                        <td><img src="{% static 'img/Goias.svg' %}" width="20" name="GOI"></td>
                        <td>{{resultadoobj.Goias}}</td>
                        <td style="color: {{cor10}}; font-size: 13.5px">({{palpiteobj.Goias}})</td>
                        <td>x</td>
                        <td style="color: {{cor10}}; font-size: 13.5px">({{palpiteobj.Botafogo}})</td>
                        <td>{{resultadoobj.Botafogo}}</td>
                        <td><img src="{% static 'img/Botafogo.svg' %}" width="20" name="BOT"></td>
                        <td>BOT</td>
                    </tr>
                </table>
<br>
<hr>
    <table align="center" cellpadding="15">
        <tr>
            <td>RE: {{exato}}; RP: {{igual}}; RB: {{bonus}}; RB: {{diferente}}; RB: {{total}}.</td>
        </tr>
    </table>

    <p  style="font-size: 8px">
         LEGENDA:<br>
         RE: Resultado Exato; RP: Resultado Parcial; RB: Resultado Parcial com Bônus; RE: Resultado Errado; PT: Pontuação.
    </p>
<hr>
    <a href="/classificacao/">veja como ficou a classificação</a><br>
<br>
    <a href="/rodada">voltar</a><br>
{% endblock %}