{% extends 'app/index.html' %}
{% load static %}

{% block content %}

<form id="formrodada" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{request.user.id}}">
    <input type="hidden" name="user" value="{{request.user}}">
    <input type="hidden" name="verificacao" value=0>
    {% csrf_token %}
    <label for="rodada">Rodada:</label>
    <select name="rodada" id="rodada" class="form-select-padding">
        <option action="/rodada/{{request.user.id}}" value="0">Selecione</option>
            {% for x in rodadas %}
        <option value="{{ x.Rodada }}">{{ x.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn-success btn-custom" value="Verificar">
</form>
<br>
<!--
    <a href="/brasileirao/">voltar</a><br>
-->
{% endblock %}