{% extends 'app/index.html' %}

{% block content %}

{% if request.user.is_authenticated %}
    <a href="/logout/">Logout</a> {% else %}
    <a href="/login/">Login</a> {% endif %}
<p>{{request.user}}</p>
<hr>

<form id="formrodada" action="/resultado/" method="GET">
    <input type="hidden" name="user_id" value="{{request.user.id}}">
    <input type="hidden" name="user" value="{{request.user}}">
    <input type="hidden" name="verificacao" value=0>
    {% csrf_token %}
    <label for="rodada">Rodada:</label>
    <select name="rodada" id="rodada" class="form-control">
        <option action="/rodada/" value="0">Selecione</option>
            {% for rodadas in rodada %}
        <option value="{{ rodadas.Rodada }}">{{ rodadas.Rodada }}</option>
            {% endfor %}
    </select>
    <input type="submit" class="btn-success" value="Verificar">
</form>
<br>

    <a href="/home/">voltar</a><br>

{% endblock %}